/* HOLA */

.box {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;

    .inner {
        height: 200px;
        overflow-y: auto;

        .message {
            
        }

        

    }
}

input{
    border-radius: 3px;
}